<nav class="navbar navbar-expand-lg " style="background-color: #2D033B;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand text-white" href="/inicio">CienciasTop</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a *ngIf="authService.isAdmin()" class="nav-link text-white botonFantasmaMorado" routerLinkActive="active" aria-current="page" routerLink="/usuarios">Usuarios</a>

          <li *ngIf="authService.isAuthenticated()" class="dropdown">
            <a class="btn botonFantasmaMorado text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
          
            <ul class="dropdown-menu">
              <li><button routerLink="/productos" class="dropdown-item">Ver Productos</button></li>
              <li><button routerLink="/productos/form" class="dropdown-item">Añadir Producto</button></li>
            </ul>
          </li>

        </ul>
        <ul class="navbar-nav navbar-right">
          <li>
            <a *ngIf="!authService.isAuthenticated()"  routerLink="/login" class="nav-link text-white botonFantasmaMorado">Iniciar Sesion</a>
          </li>

          <li *ngIf="authService.isAuthenticated()" class="dropdown">
            <a class="btn botonFantasmaMorado text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{authService.usuario.nombre}}
            </a>
          
            <ul class="dropdown-menu">
              <li><button routerLink="/usuarios/perfil" class="dropdown-item">Ver Perfil</button></li>
              <li><button (click)="logout()" class="dropdown-item">Cerrar Sesión</button></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
