<section style="background-color: #FEFCF3;">
    <div
    class="container-fluid" style="top:0%">
    <h1 class="text-center" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">CienciasTop</h1>
    <p class="text-center" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    ¡Te damos la bienvenida a CienciasTop!
    <br>
    Para recibir todos los beneficios que tenemos para ti, por favor, inicia sesión.

    <img src="https://mapio.net/images-p/24186070.jpg" class="img-fluid" alt="...">
    </p>
</div>
</section>
